.warp{

}
.login-warp{
  margin-top: 40%;
}
.text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .9rem;
  font-weight: lighter;
}
.login-not{
  margin-top: 1rem;
}
.login-mobile{
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: .8rem;
  background-color: #6190E8;
  color: #FAFBFC;
}
.login-wechat{
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: .8rem;
  background-color: #13CE66;
  color: #FAFBFC;
}
