.warp{
  padding: .8rem;
}
.product-image{
  width: 100%;
  height: 100%;
}
.product-item{
  margin-top: .5rem;
}
.text-view{
  text-align: center;
  .text{
    color: red;
  }
}
.btn{
  background-color: #FFC82C;
  border-color: #FFC82C;
  color: #ffffff;
}
